<div class="jumbotron">

<div class="row">
  <p>Order by:</p>
  <div class="col-md-12" style="padding-bottom:3em">
    <button type="button" class="btn btn-primary" ng-click="setFilter('name')">Name</button>
    <button type="button" class="btn btn-primary" ng-click="setFilter('priority')">Priority</button>
    <button type="button" class="btn btn-primary" ng-click="setFilter('dueDate')">Due Date</button>
  </div>
  <div class="col-md-6">
      Overdue
    <table class="table">
      <tr><td><b>name</b></td><td><b>priority</b></td><td><b>dueDate</b></td></tr>
      <tr ng-repeat="task in dueTasks | orderBy: filter" style="color: red">
        <td>{{ task.name }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.dueDate }}</td>
        <td><div style="cursor:pointer" ng-click="deleteDueTask($index)">Delete</div></td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    Pending
    <table class="table">
      <tr><td><b>name</b></td><td><b>priority</b></td><td><b>dueDate</b></td></tr>
      <tr ng-repeat="task in pendingTasks | orderBy: filter">
        <td>{{ task.name }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.dueDate }}</td>
        <td><div style="cursor:pointer" ng-click="deletePendingTask($index)">Delete</div></td>
      </tr>
    </table>
  </div>
</div>

<div class="form" style="margin-top:4em">
  <div class="form-group col-xs-3">
    <label>Name:</label>
    <input class="form-control" ng-model="newTask.name" placeholder="name"/>
  </div>
  <div class="form-group col-xs-3">
    <label>Priority:</label>
    <input class="form-control" ng-model="newTask.priority" placeholder="priority"/>
  </div>
  <div class="form-group col-xs-3">
    <label>DueDate:</label>
    <input class="form-control" ng-model="newTask.dueDate" placeholder="2015-08-27"/>
  </div>
  <button type="button" class="btn btn-primary" style="margin-bottom:2em" ng-click="saveTask(newTask)">Add task</button>
</div>

